venv
.idea
**/__pycache__/
sudo dydtemctl ssh status
logs/error.log
logs/general.log
logs/bot.log
.env
~$plan.pptx
asdasd.rt
eaadb754596a36faae5a1c940c505843.zip

# По БД
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

media
logs/
webhook_run.py
run.py
scripts.py

notes.txt

script.py